body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: calc(100vh - 56px);
}

header {
    border: 2px solid red;
    padding: 5px;
    margin-bottom: 10px;
}

main {
    border: 2px solid red;
    padding: 5px;
    margin-bottom: 10px;
}

footer {
    border: 2px solid red;
    padding: 5px;
    margin-bottom: 10px;
}

#sec_encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#secEnc_article1 {
    background-color: yellow;
    border: 1px solid black;
    height: 100px;
    margin: 5px;
    width: 45%;
}

#secEnc_article2 {
    background-color: yellow;
    border: 1px solid black;
    height: 100px;
    margin: 5px;
    width: 55%;
}

#sec_cuerpo {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#secCuerpo_article1 {
    background-color: yellow;
    border: 1px solid black;
    height: 200px;
    margin: 5px;
    width: 25%;
}

#secCuerpo_article2 {
    background-color: yellow;
    border: 1px solid black;
    height: 180px;
    margin: 5px;
    width: 35%;
}

#secCuerpo_article3 {
    background-color: white;
    border: 1px solid black;
    height: 180px;
    margin: 5px;
    width: 35%;
}

#sec_cuerpo2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#secCuerpo_article4 {
    background-color: yellow;
    border: 1px solid black;
    height: 180px;
    margin: 5px;
    width: 25%;
}

#secCuerpo_article5 {
    background-color: white;
    border: 1px solid black;
    height: 180px;
    margin: 5px;
    width: 72%;
}

#sec_piePagina {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#secPie_article1 {
    background-color: white;
    border: 1px solid black;
    height: 40px;
    margin: 5px;
    width: 25%;
}

#secPie_article2 {
    background-color: white;
    border: 1px solid black;
    height: 40px;
    margin: 5px;
    width: 72%;
}