body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: calc(100vh-56px);
}

header {
    border: 2px solid red;
    padding: 5px;
    margin-bottom: 10px;
}

main {
    border: 2px solid red;
    padding: 5px;
    margin-bottom: 10px;
}

footer {
    border: 2px solid red;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
}

#sec_encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#secEnc_article1 {
    border: 1px solid rgb(100, 198, 172);
    background-color: rgb(167, 185, 200);
    height: 80px;
    margin: 5px;
    width: 47%;
}

#secEnc_article2 {
    border: 1px solid rgb(116, 109, 134);
    background-color: rgb(81, 150, 206);
    height: 80px;
    margin: 5px;
    width: 47%;
}

#sec_contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#secCon_article1 {
    border: 1px solid rgb(162, 244, 40);
    background-color: rgb(238, 9, 62);
    height: 80px;
    margin: 5px;
    width: 47%;
}

#secCon_article2 {
    border: 1px solid rgb(221, 85, 18);
    background-color: rgb(81, 150, 206);
    height: 80px;
    margin: 5px;
    width: 47%;
}

#secCon_article3 {
    border: 1px solid rgb(116, 109, 134);
    background-color: rgb(81, 150, 206);
    height: 80px;
    margin: 5px;
    width: 47%;
}