body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    border: 2px solid red;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
}

main {
    border: 2px solid red;
    height: 500px;
    padding: 5px;
    margin-bottom: 10px;
}

footer {
    border: 2px solid red;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
}