body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.encabezado {
    border: 2px solid red;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: chartreuse;
}

.cuerpo {
    border: 2px solid red;
    height: 500px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: chartreuse;
}

.piePagina {
    border: 2px solid red;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: chartreuse;
}